<main class="p-3">
     <div>
        {{#with navigation}}
        <div>
           {{#each links }}
          <a href="{{href}}">{{text}}</a>
            {{/each}}
        </div>
       {{/with}}
    </div>

<div>
{{#with newsBlock}}
 <h1 class="text-center">{{title}}</h1>
    <section class="row g-2">
    {{#each cards}}
    <section class="col-3">
<div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <h6 class="card-title">{{description}}</h6>
        <span class="badge text-bg-success rouded-pull m-2">{{isTop}}</span>
        <span class="badge text-bg-warning rouded-pull m-2">{{isNew}}</span>
    </div>
</div>
</section>
{{/each}}
    </section>
    {{/with}}
    </div>   

 <div class="m-3">
    {{#with goodsBlock}}
    {{#each tabs}}
   <div class="row g-2">
        <div class="col=2">
    <div class="nav nav-tabs">
        <div class="nav-item">
            <a href="#" class="nav-link active"> {{isActive}}</a>
        </div>
        <div class="nav-item">
            <a href="#" class="nav-link disabled">{{isDisabled}}</a>
        </div>

        <div class="nav-item">
            <a href="#" class="nav-link">{{text}}</a>
        </div>
        </div>
        </div>
        </div>
        
        {{/each}}
        <br>
        <br>
        
         <section class="row g-2">
    {{#each cards}}
    <section class="col-4">
<div class="card">
    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <h6 class="card-title">{{description}}</h6>
        <span class="badge text-bg-danger rouded-pull m-2">{{isHot}}</span>
        <span class="badge text-bg-success rouded-pull m-2">{{isNew}}</span>
    </div>
</div>
</section>
{{/each}}
    </section>

        
        {{/with}}
</div>

<div class="p-3">
    {{#with subscribe}}
     <div class="card text-bg-dark">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <h6 class="card-title">{{description}}</h6>
         {{#each buttons}}
        <button class="btn btn-info">
        <a href="{{link}}" class="btn btn-link">{{text}}</a>
        </button>
        {{/each}}
    </div>
</div>

    {{/with}}
</div>

<div class="m-3">
    {{#with service}}
     <div class="card text-bg-secondary">
    <div class="card-header text-center">{{title}}</div>
    <div class="card-body ">
        <h6 class="card-title text-center">{{description}}</h6>
        {{#each buttons}}
        <button class="btn btn-info">
        <a href="{{link}}" class="btn btn-link">{{text}}</a>
        </button>
        {{/each}}
    </div>
</div>

    {{/with}}

    <div>
        
        <ul class="list-group-flush">
        {{#each footer}}
        <li class="list-group-item">
         <a href="{{link}}" class="btn btn-link">{{text}}</a>
        </li>
         {{/each}}
        </ul>
    
    </div>
</main>
